<header>
<link rel="stylesheet" href="/css/styles.css" />    
  <nav>
   <div class="nav-brand">
     <img src="/images/logo.png" alt="Shop Away Logo" class="logo" />
     <span class="brand-name">SHOP AWAY</span>
   </div>     
    <div class="nav-links">
    <a href="/">Home</a>
    <a href="/myProducts">Products</a>
    <a href="/cart">Cart(<%= cart.length %>)</a>
   </div> 
   <div class="nav-currency">
     <form action="/set-currency" method="POST" class="currency-form">     
        <select name="currency" id="currency" onchange="this.form.submit()">
          <option value="USD" <%= selectedCurrency === 'USD' ? 'selected' : '' %>>USD</option>
          <option value="EUR" <%=selectedCurrency==='EUR' ? 'selected' : '' %>>EUR</option>
          <option value="GBP" <%=selectedCurrency==='GBP' ? 'selected' : '' %>>GBP</option>
        </select>
      </form> 
    </div>
  </nav>  
</header>