<header>
<link rel="stylesheet" href="/css/styles.css" />    
  <nav style="display: flex; justify-content: space-between; align-items: center;">
   <div>
    <a href="/">Home</a>
    <a href="/myProducts">Products</a>
    <a href="/cart">Cart(<%= cart.length %>)</a>
   </div> 
    
   <div>
     <form action="/set-currency" method="POST" class="currency-form">
        <label for="currency">Currency:</label>
        <select name="currency" id="currency" onchange="this.form.submit()">
          <option value="USD" <%= selectedCurrency === 'USD' ? 'selected' : '' %>>USD</option>
          <option value="EUR" <%=selectedCurrency==='EUR' ? 'selected' : '' %>>EUR</option>
          <option value="GBP" <%=selectedCurrency==='GBP' ? 'selected' : '' %>>GBP</option>
        </select>
      </form> 
    </div>
  </nav>  
</header>